/* Angular.js classes */

.ng-valid-pattern {
	background: #cfc;
}

.ng-invalid-pattern {
	background: #d88;
}

/* other styling */

body {
	display: flex;
	color: #333;
	font: 1.5em Roboto, sans-serif;
}

h1 {
	text-transform: uppercase;
	font-size: 1.19em;
	margin-bottom: 20px !important;
}

	h1 span {
		color: #999;
	}

p {
	font-size: .5em;
	padding-top: .5em;
}

.green {
	background: #cfc;
	font-weight: 900;
	padding: .1em;
}

.red {
	background: #d88;
	font-weight: 900;
	padding: .1em;
}

.regexp {
	margin: auto;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid rgb(200,200,200);
	background-image: linear-gradient(rgb(250,250,200), rgb(200,200,200));
}

	.regexp * {
		min-width: 320px;
		max-width: 320px;
		margin: auto;
	}

input {
	border: 1px solid #333;
	display: block;
	border-radius: 3px;
}

input:focus {
	outline: 0;
}